<!DOCTYPE html>
<html>
<body>
    <h2>Olá {{ first_name }},</h2>

    <p>Seja bem-vindo ao nosso sistema CRP, Abaixo estão os detalhes da nova conta criada:</p>

    <p>
        <strong>Login: </strong> {{ username }} <br>
        <strong>Senha temporária: </strong> {{ password }}
    </p>

    <p>
        Por favor, faça login usando essas informações e lembre-se de alterar sua senha.
        Você pode fazer isso acessando o perfil da sua conta. Se tiver alguma dúvida ou precisar de ajuda,
        não hesite em nos contatar.
    </p>

    <p>Atenciosamente,<br>
       A equipe Comunidade Renascidos em Pentecostes.
    </p>
</body>
</html>
