{% extends "layouts/base.html" %}
{% block titulo %}Redefinir senha | {% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'includes/messages_component.html' with messages=messages %}
{% if user.is_authenticated %}
<div class="container py-5">
    <a class="p-2 ms-3" href="{% url 'user_profile' %}">
            <i class="fa fa-arrow-left"></i> Voltar</a>
{% endif %}
    <div class="card ms-4 me-4 mt-4 mb-4">
        <h5 class="card-header">
            Redefinir a Senha
        </h5>
        <div class="card-body">
            <p class="mb-4">Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
            <form method="POST">
                {% csrf_token %}
                {{ password_reset_form|crispy }}
                <button class="btn btn-success btn-block mt-2" type="submit">
                    <i class="fa fa-send mr-1"></i> Enviar E-mail
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
