
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Redefinição de senha enviada</h2>
		<hr>
		<p>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deve recebê-los em breve.<br>
			Se você não receber um e-mail, verifique se inseriu o endereço com o qual você se registrou e verifique sua pasta de spam.</p>
  </div>

