{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Página em Branco {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="body flex-grow-1">
    <div class="mt-5">
        <a class="p-2 ms-3" href="{% url 'home' %}">
            <i class="fa fa-arrow-left"></i> Voltar para a página inicial</a>
    </div>

    <form action="" method="GET">
        <div class="col-sm-12">
            <div class="form-group mt-5 px-2 ms-3 me-3">
                <div class="input-group ">
                    <input class="form-control" id="search" name="search" placeholder="Pesquise uma pastoral por nome"
                        type="text" data-placement="top" data-toggle="tooltip" title="Pesquisar Nome">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                            <span class="sr-only">Pesquisar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive text-center p-2 ms-3 me-3">
        <table class="table table-hover table-bordered table-full-width">
            <thead class="text-start table-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Membros</th>
                </tr>
            </thead>
            <tbody class="text-start">
                {% for pastoral in pastorais %}
                <tr>
                    <td scope="row">
                        <a class="text-info" data-placement="top" data-bs-toggle="modal"
                            data-bs-target="#openPastoralModal" data-toggle="tooltip" href="#"
                            title="Veja mais detalhes sobre esta pastoral" style="text-decoration:none"
                            onclick="openPastoralModal('{{ pastoral.pastoral.get_nome_display }}', {{ pastoral.membros|safe }})">
                            {{ pastoral.pastoral.get_nome_display }}
                        </a>
                    </td>
                    <td scope="row">
                        <span data-placement="top" data-toggle="tooltip" title="Mais Detalhes">
                            {% if pastoral.membros_count == 0 %}
                            Pastoral sem membros
                            {% else %}
                            {{ pastoral.membros_count }} Membro(s)
                            {% endif %}
                        </span>
                    </td>
                    {% empty %}
                <tr>
                    <td colspan="7" class="ml-2 mr-2 alert alert-warning" role="alert">
                        <strong>Nenhum dado encontrado.</strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'includes/modal/pastoral_modal.html' %}

{% endblock content %}