{% extends 'layouts/base.html' %}
{% block title %}Atualizar minhas informações pessoais |{% endblock title %}
{% load static %}
{% block content %}

<style>
    /* Estilo para botões que ocupam a tela toda em telas pequenas (Mobile) */
@media (max-width: 767.98px) {
  .btn-full {
    width: 100%;
  }
}

</style>
{% include 'includes/messages_component.html' with messages=messages %}
<div class="col">
    <div class="mt-4">
        <a class="p-2 ms-3" href="{% url 'home' %}">
            <i class="fa fa-arrow-left"></i> Voltar para home</a>
    </div>
    <div class="card mt-5 ms-4 me-4 mb-5">
        <div class="card-header">
            Atualizar meus dados pessoais
        </div>
        <div class="card-body">
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-12 mb-3">
                        <label>Telefone</label>
                        {{form.telefone}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Celular</label>
                        {{form.celular}}
                    </div>

                    <div class="form-group col-12 mb-3">
                        <label>Profissão</label>
                        {{form.profession}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Igreja</label>
                        {{form.igreja}}
                    </div>

                    <div class="form-group col-12 mb-3">
                        <label>Estado Civil</label>
                        {{form.marital_status}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Endereço</label>
                        {{form.address}}
                    </div>

                    <div class="form-group col-12 mb-3">
                        <label>Bairro</label>
                        {{form.neighborhood}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Cidade</label>
                        {{form.city}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Estado</label>
                        {{form.state}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Cep</label>
                        {{form.cep}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Cônjuge</label>
                        {{form.conjugue}}
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label>Está aposentado</label>
                        {{form.is_retired}}
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label>Imagem de perfil</label>
                        {{ form.imagem_perfil }}
                    </div>
                </div>

                <div class="row" id="actions">
                    <div class="col-12">
                        <button class='btn btn-success btn-full ps-2 mb-3' type='submit'><i class="fa fa-save"></i>
                            Salvar
                        </button>
                        <a class="btn btn-primary btn-full ps-2 mb-3" href="{% url 'password_reset' %}">
                            <li class="fa fa-key"></li>
                            Alterar Senha
                        </a>
                        <a class="btn btn-danger btn-full ps-2 mb-3" href="{% url 'user_profile' %}">
                            <li class="fa fa-close"></li>
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}